@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@main("Welcome to Lotto", webJarsUtil) {

    <div class="left-section ng-scope">
        <div class="ng-scope">
            <a href="/" class="logo">
                <img src="@routes.Assets.versioned("/images/logo.jpg")" alt="Real LOTTO">
            </a>
        </div>
    </div>

    <div class="top-bar">
        <ul class="social">
            <li class="fb">
                <a target="_blank" href="https://www.facebook.com/csgocasescom/"><span></span></a>
            </li>
        </ul>
        <button class="btn btn-primary">
            LOGIN
        </button>
    </div>
    
    <div class="main-content">
        <img src="@routes.Assets.versioned("/images/case.webp")" alt="">
        <div class="roulette-body">
            <div class='roulette-wrapper'>
                <div class='selector'></div>
                <div class='wheel'></div>
            </div>

            <div style="text-align: center">
@*                <input placeholder='outcome'>*@
                <button>
                    Get Free
                </button>
            </div>
        </div>
    </div>
}
