a {
    cursor: pointer;
}

a {
    color: #aeb9c9;
}

.left-section {
    float: left;
    background: #121325;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
}

.left-section, .logo {
    width: 190px;
}

.logo {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #121325;
    height: 75px;
    line-height: 75px;
}

.logo img {
    width: 93%;
    margin-top: 7px;
    background-color: #121325;
}

.top-bar {
    height: 75px;
    line-height: 75px;
    text-align: center;
    float: right;
    width: calc(100% - 190px);
    background: #121325;
}

.main-content {
    height: 100%;
    float: right;
    padding-left: 50px;
    width: calc(100% - 190px);
    background: #a4a9f8;
}

.social {
    padding-top: 17px;
    padding-left: 50px;
    width: 152px;
    height: 38px;
}

.logo, .menu li, .menu li a span, .social, .social li {
    float: left;
}

ol, ul {
    list-style: none;
}

/*roulette css*/
.roulette-body{
    font-family: 'Titillium Web', sans-serif;
    background:#191B28;
}
.roulette-wrapper{
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
    margin:0 auto;
    overflow:hidden;
}

.roulette-wrapper .selector{
    width:3px;
    background:greenyellow;
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;
}

.roulette-wrapper .wheel{
    display:flex;
}

.roulette-wrapper .wheel .row{
    display:flex;
}

.roulette-wrapper .wheel .row .prize{
    height:150px;
    width:150px;
    margin:20px;
    border-radius:8px;
    border-bottom:3px solid rgba(0,0,0,0.2);
    display:flex;
    align-items:center;
    justify-content:center;
    background:grey;
    color:white;
    font-size:1.5em;
}

.prize img{
    height: 100%;
    width: 140px;
}

/*.prize.red{*/
/*    background:#F95146;*/
/*}*/

.prize.black{
    background:#2D3035;
}

.prize.green{
    background:#00C74D;
}

*{
    box-sizing:border-box;
}
/*roulette css end*/